@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  position: relative;
}
body{
  height: auto;
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.005) 0,
      rgba(255, 255, 255, 0.005) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 15px, 15px;
  background-attachment: fixed;
  background-color: #F3F5F9;
}

.fadeOnRenderDiv{
  animation: fadeIn .5ms ease-in-out ;
  animation-timeline: view();
  animation-range: cover 0% cover 10%;
}

.fadeOnRender{
  animation: fadeIn .5ms ease-in-out ;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}

.leftRender{
  animation: slide-in-fwd-left .5ms ease-in-out ;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
            transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}